################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/palegg/Bin
/palegg/Web.Debug.config
/palegg/Web.config
/palegg/packages.config
